:root {
    --tg-theme-button-text-color: white;
    --tg-theme-button-color: #323338;
    --tg-theme-bg-color: #1E2337;
    --tg-theme-text-color: white;
    --semibackground: #323338;
}
body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-button-text-color);
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.info{
    display: flex;
    background-color: #00000000;
    border-radius: 30px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.infolist{
    display: flex;
    background-color: #00000000;
    border-radius: 30px;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */    
    flex-direction: column;
}

p {
    margin: 10px;
    background-color: var(--tg-theme-button-color);
    padding: 20px;
    border: 0;
    border-radius: 15px;
}

#main {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.nameDay {
    background-color: var(--tg-theme-button-color);
    padding: 10px;
    border: 0;
    border-radius: 15px;
    margin: 5px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lesson {
    background-color: var(--tg-theme-button-color);
    padding: 10px;
    border: 0;
    border-radius: 15px;
    margin: 5px;
    width: 60%;
}
.control {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.main {
    width: 90%;
}
.rowButton {
    display: flex;
    justify-content: center;

}

button {
    font-size: large;
    border: 0;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px;
    margin: 2px 2px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 5vw;
        width: 100%;
    }

    #main, #schedule {
        width: 100%;
    }

    .main {
        width: 90%;
    }

    .lesson, .nameDay {
        width: 90%;
        border-radius: 4vw;
        padding: 3vw;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 3vw;
        border-radius: 4vw;
    }
    .infopanel {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #today_naming {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .control {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    
    button {
        font-size: 5vw;
        width: 100%;
        flex: 1;    
        border-radius: 3vw;
        padding: 2vw;
        margin: 0.6vw; 
    }

    .rowButton {
        width: 100%;
    }

    .buttons {
        width: 95%;
        display: flex;
        flex-direction: column;
    }
}