body {
    background-color: black;
    color: white;
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

div .info{
    display: flex;
    background-color: red;
    border-radius: 30px;
    padding: 0 10px;
    margin: 10px 0;
}


p {
    margin: 10px;
}

#main {
    display: flex;
    flex-direction: column;
}

div#shedule {
    align-items: center;
    justify-items: center;
}